/*HEADER*/
/*Version PC*/
body{
    height:100%;
    font-size: 15px;
}
@font-face {
    font-family: miso-bold;
    src: url(../police/miso/miso-bold.ttf);
}
@font-face {
    font-family: miso-regular;
    src: url(../police/miso/miso-regular.ttf);
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
.header{
    background-color:#F02A2A;
    color: #ffffff;
    padding:5px;
}
.mobile-icon{
    display: none;
}
.container-fluid .navigator{
    font-size:1.5rem;
    padding-left:5rem;
}
.container-fluid .navigator .ecole-solidaire{
    padding-top:2rem;
}
.container-fluid .navigator .para1{
    border-bottom: 1px solid #FFFFFF; 
    color: #FFF121;
    display: inline-block;
    padding-bottom:0rem;
    font-family: miso-bold;
    font-size: 3.9rem;

}
.container-fluid .navigator .para2{
    padding-bottom:1rem;
    font-size: 2.4rem;
    font-family:miso-regular;
}
.container-fluid img{
    height:15rem;
    padding-left: 6rem;
    padding: 0;
}
.flex{
    display: flex;
}
.flex .savoir{
    padding:3rem;
    padding-right: 0;
    font-family: miso-bold;
    font-size:2rem;
    padding-bottom:0;
}

.container-fluid .pouvoir{
    color: #FFF121;
}
.container{

    width:100%;
    margin-right: 0px;
    padding-right: 0px;

}

.main-menu{
    display: flex;
    justify-content: flex-end;
}
.main-menu ul{
    list-style: none;
    padding:1rem;
    margin: 0;
    background-color:#EBEBEB;
    border: 0px solid;
    border-radius:0 0 0 5rem;

}
.main-menu li{
   display: inline-block; 
   padding-left: 2rem;
}
/*CSS AJOUTER SOUS-MENU FAQ*/
/*.sub-menu{
    display:none;
    position: absolute;
    
}
.stricky-menu li:hover .sub-menu{
    display: inline-block;
}*/

/*CSS AJOUTER SOUS-MENU FAQ*/
.left ul:first-child{
    padding-left: 5rem;
}
/* .left ul:last-child{
    padding-right: 5rem;
} */
.main-menu a{
    color:#F02A2A;
}
.left{
    float: right;
}



/*BEBUT FOOTER*/

footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height: 7rem;
    bottom: 0;
    position:fixed;
}
footer ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer ul li {
    padding-left: 1rem;
    list-style: none;
    display: inline-block;
}
footer ul li img {
    height: auto;
    width: 4.5rem;
    margin: 0 0.4rem;
    display: inline-block;
}
footer .sirius {
    height: auto;
    width: 4.5rem;
    margin: 0 4rem;
    float: right;
}
/*FIN FOOTER CSS*/


/*VERSION MOBILE*/

@media only screen and (max-width:770px){
 .mobile-icon{
        font-size:2rem;
        display: inline-block;
        color: black;
        position: fixed;
        padding:1rem;
        cursor: pointer;
        z-index: 1000;

    }
   
    .main-menu{
     top: 10%;
     left: 13%;
     z-index: 1000;
     position: fixed;
     display: none;
     background-color:#EBEBEB;
    }
    .main-menu .stricky-menu{
       background-color: #EBEBEB; 
    }
    .main-menu li{
        display:block;
        padding-left:0;
    }
    .main-menu  a{
        color:#F02A2A;
        padding: 0.5rem 1rem;
        display: block;
    }
    .main-menu a:hover{
        color:#F02A2A;
        background-color:#FFF121;
        text-decoration: none;
    }
    .left{
        float:none;
    }
     .left ul:first-child{
        padding-left:0;
    }
    .left ul:last-child{
        padding-left: 0;
    }
   
    .main-menu ul{
        padding: 0;
        margin: 0;
        border: none;
        border-radius:0;
     
    }
    ul{
        padding-right: 19rem;
    }
    
    .container-fluid .navigator{
        font-size:1rem;
        padding-left:4rem;
    }
   
    .container-fluid .navigator .ecole-solidaire{
        padding-top:0;
    }
    .container-fluid .navigator .para1{
        border-bottom: 1px solid #FFFFFF; 
        color: #FFF121;
        display: inline-block;
        padding-bottom:0rem;
       font-family:miso-bold;
       font-size: 1.8rem;

    }
    .container-fluid .navigator .para2{
        padding-bottom:1rem;
        font-size:1.1rem;
        font-family:miso-regular;
        font-size: 1.3rem;
      
    }
    .container-fluid img{
        height:8rem;
    }
    .flex .savoir{
        padding: 1rem;
        padding-right: 0;
        font-family: miso-bold;
        font-size:1rem;
    }
    footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height: 0rem;
    
}
    footer .sirius {
        border-top: 1px solid #707070;
        height: auto;
        width: 100%;
        margin: 0;
        float: none;
        text-align: center;
    }
}



