body{
    background: url(./images/background.JPG) no-repeat center fixed;
    font-size:15px;
    background-size:100%,cover;
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0;
      
    
}
@font-face {
    font-family: miso-bold;
    src: url(./police/miso/miso-bold.ttf);
}
@font-face {
    font-family: miso-regular;
    src: url(./police/miso/miso-regular.ttf);
}

[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}

.left{
      padding: 0;
}
.main-menu{
    display: flex;
    justify-content: flex-end;
     background-color:white;
     margin:0;
     padding-right: 10rem;
     position: fixed;
     width: 100%;
     z-index:9999;
      
     
}
.main-menu ul{
    list-style: none;
    padding:1rem;
    margin: 0;
   
   

}
.main-menu li{
   display: inline-block; 
   padding-left: 5rem;
}
.main-menu a{
    color:#F02A2A;
    font-size: 1.4rem;
    text-decoration: none;
}
.main-menu a:hover, .main-menu .current-menu-item a{
    background-color: #F02A2A;
    color: #FFFFFF;
    padding: 1.2rem;
}



.mobile-icon {
    display: none;
}
.container-fluid{
     background-color:#F02A2A;
    color: #ffffff;
   padding:0;
}
.container-fluid .navigator{
    
    padding-left:5rem;
    padding: 0;
}
.navigator{
   text-align: center;
}
.container-fluid .navigator .ecole-solidaire{
    padding-top:1rem;
    margin-top: 3rem;
}
.container-fluid .navigator .para1{
    border-bottom: 1px solid #FFFFFF; 
    color: #FFF121;
    display: inline-block;
    padding-bottom:0rem;
    font-family: miso-bold;
    font-size: 3.7rem;

}
.container-fluid .navigator .para2{
    padding-bottom:1rem;
    font-size:2.4rem;
    font-family:miso-regular;
    margin-left:0.5rem;
}
.container-fluid img{
    height:12rem;
    padding-left: 6rem;
    padding: 0;
    padding-top:1rem;
    margin-left: 5rem;
    margin-right: -4rem;
    margin-top: 3.3rem;   
}
.container-fluid .pouvoir{
    color: #FFF121;
}
.ecole-solidaire{
    padding-left:5rem;
}
.event a{
    color: #F02A2A;
}
.flex{
    display: flex;
}
.flex .savoir{

    font-family: miso-regular;
    font-size:3.2rem;
    padding-bottom:0;
    padding-top: 3.8rem;
    margin-left:  5rem;
    line-height: 3rem;
}
.intro{
    background-color: #EBEBEB;
    padding-bottom: 1rem;
   
   
}
.intro h2{
    padding: 15.5rem;
    color: #F02A2A;
    padding-bottom:1rem;
    padding-top: 2rem;
    font-family: miso-bold;
    text-transform: uppercase;
}
.intro p{
    font-family: verdana;
    padding: 0px 15.5rem;
}

footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height:7rem;
    bottom: 0;
    position:fixed;
}
footer ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer ul li {
    padding-left: 1rem;
    list-style: none;
    display: inline-block;
}
footer ul li img {
    height: auto;
    width: 6.5rem;
    margin: 0 0.5rem;
    display: inline-block;
}
footer .sirius {
    height: auto;
    width: 4.5rem;
    margin: 0 4rem;
    float: right;
}/*CSS DU CONTENUE ACCUEIL*/
.container{
    margin-top: 5rem;
}
.container .event{
    background-color:rgba(255, 255, 255, 0.75);
    height: 23.5rem;
}
.container .tittle{
        padding: 1rem;
}
.container .description-image img{
    height: auto;
    width:  31rem;
    margin-top:-2rem;
margin-left:-2rem;       
}
.container p{
    text-align: justify;  
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.1rem;
}

.description-image {
    width: 23rem;
    height: 30rem;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 2rem;
    padding-left: 2rem;
}
.container .inscription-button{
    display: inline-block;
    text-align: center;
    color:#FFFFFF;
    background-color: #F02A2A;
    font-weight: 900;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

/*FIN CSS DU CONTENUE ACCUEIL**/

/*CSS DU CONTENUE PARAGRAPHE*/
.container .presentation{
    background-color:rgba(255, 255, 255, 0.75);
    padding: 2rem ;
}

h1{
    font-style: normal;
    font-family:miso-bold;
    margin-top: 2rem;
    text-align: center;
    color:white;
 }


.description {
    margin: 2rem 0;
}
.description-img {
    width: 23rem;
    height:34rem;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 2rem;
    margin-top: 2rem;


}
.last-para{
    margin-bottom: 9rem;
}
/*FIN CSS DU CONTENU PARAGRAPHE*/
/*DEBUT CSS DU CONTENU CONTACT*/

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    margin-bottom:10rem;
    text-align: center;
    
}
.form-control{
    width: 40%;
    background: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #F02A2A;
    color:#FFFFFF;
    font-size: 18px;
    margin-bottom:16px;
    display: inline-block;
}
input{
    height: 45px;
}
form .submit{
    background-color: #F02A2A;
    border-color: transparent;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background: #FFF121;
    cursor: pointer;
}
.contact-map{
    padding-bottom: 10rem;
    text-align: center;
    padding-left: 19rem;
}
.ui-state-active{
    background-color:#F02A2A;
}
/*FIN CSS DU CONTENU CONTACT*/
/* BEDUT CSS DU CONTENU FAQ*/
.res h2{
    color:#F02A2A;
    padding-bottom:2rem;
}

.ques .menu-item a{
    color: black;
     text-decoration: none;

}
.ques h1{
    margin-top: 0rem;
    color:#F02A2A;
}
.faq-border{
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 8rem
}
/* FIN CSS DU CONTENU FAQ*/

/*VERSION MOBILE*/
@media only screen and (max-width:770px){
    body{

    font-size:15px;
    overflow-x:hidden;
    background: url(../IMAGE/9061673.png)no-repeat center top fixed;
    background-size:50rem 50rem,cover;
    width: 100%;
    height:100%;
}
    .main-menu{
     top: 10%;
     left: 13%;
     z-index: 1000;
     position: fixed;
     display: none;
     background-color:#EBEBEB;
     
    }

    .main-menu li{
        display:block;
        padding-left:0;
    }
    .main-menu  a{
        color:#F02A2A;
        padding:  0.3rem;
        margin-right: 8rem;
        display: block;
        text-decoration: none;

    }
    .main-menu a:hover{
        
        background-color:#FFF121;
        text-decoration: none;
        margin-right: 8rem;
        padding-right: 17rem; 

    }
    .mobile-icon{
        font-size:2rem;
        display: inline-block;
        color: black;
        position: fixed;
        padding:1rem;
        cursor: pointer;
        z-index: 1000;

    }
    .container-fluid .navigator .para1{
        border-bottom:3px solid #FFFFFF; 
        color: #FFF121;
        display: inline-block;
        padding-bottom:0rem;
        font-family: miso-bold;
        font-size: 2.4rem;/*CHANGEMENT*/

    }
    .container-fluid .navigator .para2{
        padding-bottom:0;
        font-size: 1.6rem;
        font-family:miso-regular;
    }
    .container-fluid img{
        height: 9rem;
        padding-left: 6rem;

    }
   .flex .savoir{

    font-family: miso-regular;
    font-size:2.2rem;
    padding-bottom:0;
    padding-top: 1rem;
    margin-left:  5rem;
    line-height: 2rem;
}
    footer {
    width: 100%;
    text-align: left;
    background-color: #EBEBEB;
    line-height: 0rem;
    
}
    footer .sirius {
        border-top: 1px solid #707070;
        height: auto;
        width: 100%;
        margin: 0;
        float: none;
        text-align: center;
    }
}



